/** COMMON */
body 
{
	font-family: Lato,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	font-weight: 300;
	height: 100%;
}
#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1000;
}
h1 
{
	color: #34495e;
	font-weight: 300;
	margin-bottom: 25px;
	font-size: 30px;
	margin-top: 20px;
}
.centered
{
	text-align: center;
}
.main 
{
	padding-bottom: 40px;
}
#forge-footer
{
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	z-index: 999999;
}
#forge-footer a 
{
	text-transform: uppercase;
	color: #666;
	margin: 10px;
	font-size: 13px;
	font-weight: 400;
}


/** PANELS  */
span.panel-heading-links,
span.panel-heading-links a,
span.panel-heading-links i
{
	color: #ddd;
	display: block;
	float: right;
	font-size: 13px;
	line-height: 53px;
	text-transform: uppercase;
}
div.panel-body 
{
	padding-top: 0;
}
span.panel-heading-links i
{
	margin-left: 20px;
}


/** NAVBAR */
.-brand img
{
	height: 55px;
	padding: 15px;
	margin-top: 3px;
}
.application-menu
{
  margin-left: 20px;
}
.application-menu li img 
{
  height: 20px;
}
.dropdown-menu  li.application-name  a 
{
  color: #000;
  font-weight: 400;
}
.navbar-nav>li>a 
{
	text-transform: lowercase;
	font-weight: 300;
}
.dropdown-menu > li > a {
  color:#777;
  font-size: 12px;
  font-weight: normal;
}
.dropdown i 
{
  margin-right: 5px;
  font-size: 12px;
}
pre
{
	background-color: transparent;
	border: none;
}


/** Application Card */
.application-card
{
	margin-bottom: 10px;
	/*background-color: #f9f9f9;*/
	padding-top: 5px;
	padding-bottom: 5px;
	word-break: break-all;
	word-wrap: break-word;
}
.application-card .app-title
{
	font-weight: 400;
	color: #000;
}
.application-card span 
{
	color: #000;
	font-size: 12px;
}
.application-card img 
{
	width: 100%;
}
.application-card .api code 
{
	color: green;
}


/** FORMS  */
.forge-heading.forge-first
{
	margin-top:10px;
}
.form-checkbox-group,
.form-radio-group
{
	margin-bottom: 10px;
}
.form-checkbox-group strong 
{
	font-weight: 400;
	font-size: 13px;
}
.form-checkbox-group span.field-desc
{
	font-size: 12px;
	font-weight: 300;
}
div.form-submit
{
	width: 100%;
	text-align: center;
}


/** TABLES */
table td form 
{
	display: inline-block;
}
table td  img 
{
	height: 20px;
}
div.filter-news 
{
	margin-bottom: 20px;
}
td .btn-xs,
div.dd3-content .btn-xs
{
	font-size: 11px;
	margin-right: 10px;
}
table td 
{
	font-size: 13px;
}


/************
 * API DOCS *
 ************/
span.hljs-request .hljs-string 
{
	color: #7f9f7f;
	font-weight: 400;
}
.api-docs , .sidebar-nav
{
	margin-top: 20px;
}
.sidebar-nav ul li:hover a 
{
	background-color: transparent;
}
.sidebar-nav .navbar li a {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: 13px;
	border-left: 2px solid #EEE;
	color: #CCC;
}
.sidebar-nav .navbar li.active a,
.sidebar-nav .navbar li a:hover
{
	font-weight: 400;
	color: #000;
	border-left: 2px solid #000;
}
.navbar.affix {
	position: fixed;
	top: 20px;
}
.section 
{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	margin-bottom: 50px;
}
.section strong 
{
	font-weight: 600;
}
.section h3 
{
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	color:#428bca;
}
.section h5 
{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-decoration: underline;
}
.section code.tip 
{
	color:green;
}
.section pre
{
	font-size: 11px;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
	white-space: pre !important;
	border-radius: 0;
	margin-top: 10px;
	min-height: 26px;
}

.section td.status-code
{
	font-weight: 600;
	font-size: 13px;
	color:#666;
}


/*********************
 * DEVELOPER CONSOLE *
 *********************/
 div.url-prefix
 {
 	line-height: 34px;
 	text-align: right;
 }

 div#response
 {
 	width: 100%;
 	height: 500px;
 	background-color:#f2f2f2;
 	border: 1px solid #ccc;
 	margin-top: 30px;
 	font-size: 10px;
 	font-weight: 300;
 	padding: 10px;
 	overflow: auto;
 }

  div#response.with-loader 
  {
  	background-image: url('../images/loader-xs.gif');
	background-repeat: no-repeat;
	background-position: center center;
  }

 div#post-params
 {
 	margin-top: 20px;
 	border-top: 1px solid #f7f7f7;
 	padding-top: 10px;
 	display: none;
 }

 div#post-params input.form-control 
 {	
 	height: 20px;
 	line-height: 20px;
 	font-size: 11px;
 	padding: 10px;
 	text-transform: lowercase;
 }

 a.remove-row
 {
 	display: block;
 	width: 16px;
 	height: 16px;
 	margin-top: 2px;
 	background-image: url('../images/delete.png');
	background-repeat: no-repeat;
 }

 div.params-container
 {
 	margin-bottom: 10px;
 }