body 
{
	line-height: 1;
	font-size: 13px;
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/**
 * COMMON STYLES
 */
h1
{
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 1.1;
	border-bottom: 1px solid #eee;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-weight: 600;
}

h3
{
	color: #b94a48;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	text-transform: uppercase;
}

ul.form-handler
{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.form-handler li 
{
	list-style: none;
	margin-bottom: 12px;
}

.form-title
{
	color: #428bca;
	font-weight: 400;
	font-size: 15px;
	margin-top:30px;
	margin-bottom: 20px;
	display: block;
	border-left: 3px solid #428bca;
	padding-left: 9px;
	text-transform: capitalize;
}

.form-control 
{
	padding: 6px;
	font-size: 13px;
}

.field-desc
{
	margin-left: 13px;
	display: block;
	font-style: italic;
	font-size: 11px;
	margin-top: 2px;
}

.no-mt
{
	margin-top: 0 !important;
}

.no-mb
{
	margin-bottom: 0;
}

.centered
{
	text-align: center;
}

.unfortunate
{
	text-align: center;
	font-size: 17px;
	color: #666;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 .btn-primary.pull-right  
{
	margin-top: -5px;
}

.btn-xs
{
	margin-right: 5px;
}

/**
 * LAYOUT COMPONENTS
 */
div.top-bar
{
	margin: 0;
	background-color: #b94a48;
	height: 120px;
	color: #FFF;
}

div.main 
{
	background-color: #FFF;
	min-height: 500px;
	padding-top: 40px;
	margin-top: -40px;
	padding-bottom: 40px;
	border-radius: 10px 10px 0px 0px;
}

#footer
{
	background-color: #333;
	height: 200px;
}

#application-menu-btn
{
	background-image: url('../images/menu-toggle.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	left: 10px;
	top: 20px;
	padding-left: 40px;
	position: absolute;
}

.header-bar
{
	margin-top: 20px;
}

.header-bar a.home
{
	width: 24px;
	height: 25px;
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	display: block;
}

.credentials
{
	text-align: right;
	font-size: 14px;
	font-weight: 400;
}

.credentials a 
{
	color: #FFF;
	text-decoration: underline;
}
/**
 * TABLE LISTING
 */
 table.listing 
 {
 	margin-top: 30px;
 	border-collapse: collapse;
 	width: 100%;
 }
 
 table.listing tr
 {
 	border-bottom: 1px solid #f7f7f7;
 }

 table.listing td, table.listing th 
 {
 	padding: 5px;
 	border-collapse: collapse;
 	vertical-align: middle;
 }

 table.listing td
 {
 	color: #999;
 }

 table.listing td.thumb
 {
 	text-align: center;
 	width: 60px;
 }

 table.listing td form
 {
 	display: inline;
 }

/**
 * APPLICATION
 */
.app-card
{
	border: 1px solid #eee;
	height: 148px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	word-wrap: break-word;
}

.app-card a, 
.app-card a:hover 
{
	color:#000;
	text-decoration: none;
}

h5.app-title
{
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 3px;
}

.app-card .api 
{
	margin-top: 2px;
	display: block;
}
.app-card code 
{
	color: green;
}

.app-card-edit
{
	background-image: url('../images/edit.png');
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer !important;
	z-index: 999;
	display: none;
}

.app-card:hover .app-card-edit
{
	display: block;
}

/********************
 * APPLICATION MENU *
 ********************/
#sidr .sidr-inner 
{
	padding: 10px;
}

#sidr img 
{
	width: 48px !important;
	height: 48px !important;
}

.sidr ul 
{
	border: none;
	margin-bottom: 20px;
}

#sidr-id-menu-app-info
{
	margin-bottom: 60px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
}

#sidr-id-menu-app-info a,
#sidr-id-menu-app-info a:hover
{
	color:#FFF;
	text-decoration: none;
}

#sidr-id-menu-app-info a img 
{
	margin-right: 10px;
}

.sidr ul li,.sidr ul li.sidr-class-active,.sidr ul li:hover 
{
	line-height: 35px;
	font-size: 14px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #1a1a1a;
	text-transform: capitalize;
}

.sidr ul li.sidr-class-menu-app-seperator,
.sidr ul li.sidr-class-menu-app-seperator:hover
{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	border-top: none;
	box-shadow: none;
}