body 
{
	line-height: 1;
	font-size: 13px;
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/**
 * COMMON STYLES
 */
h1
{
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 1.1;
	border-bottom: 1px solid #eee;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-weight: 600;
}

h3
{
	color: #b94a48;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	text-transform: uppercase;
}

ul.form-handler
{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.form-handler li 
{
	list-style: none;
	margin-bottom: 12px;
}

.form-title
{
	color: #428bca;
	font-weight: 400;
	font-size: 15px;
	margin-top:30px;
	margin-bottom: 20px;
	display: block;
	border-left: 3px solid #428bca;
	padding-left: 9px;
	text-transform: capitalize;
}

.form-control 
{
	padding: 6px;
	font-size: 13px;
}

.form-control-inline
{
	display: inline !important;
	width: auto;
}

.field-desc
{
	margin-left: 13px;
	display: block;
	font-style: italic;
	font-size: 11px;
	margin-top: 2px;
}

.no-mt
{
	margin-top: 0 !important;
}

.no-mb
{
	margin-bottom: 0;
}

.centered
{
	text-align: center;
}

.unfortunate
{
	text-align: center;
	font-size: 17px;
	color: #666;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 .btn-primary.pull-right  
{
	margin-top: -5px;
}

.btn-xs
{
	margin-right: 5px;
}

/**
 * LAYOUT COMPONENTS
 */
div.top-bar
{
	margin: 0;
	background-color: #b94a48;
	height: 120px;
	color: #FFF;
}

div.main 
{
	background-color: #FFF;
	min-height: 500px;
	padding-top: 40px;
	margin-top: -40px;
	padding-bottom: 40px;
	border-radius: 10px 10px 0px 0px;
}

#application-menu-btn
{
	background-image: url('../images/menu-toggle.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	left: 10px;
	top: 20px;
	padding-left: 40px;
	position: absolute;
}

.header-bar
{
	margin-top: 20px;
}

.header-bar a.home
{
	width: 24px;
	height: 25px;
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	display: block;
}

.credentials
{
	text-align: right;
	font-size: 14px;
	font-weight: 400;
}

.credentials a 
{
	color: #FFF;
	text-decoration: underline;
}

/**
 * FOOTER
 */

#footer-container
{
	background-color: #FFF;
	padding-bottom: 30px;
	padding-top: 30px;
}

#footer
{
	padding-top: 10px;
	padding-bottom: 30px;
	border-top: 1px solid #d7d7d7;
}

#footer ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer ul li
{
	list-style: none;
	margin-right: 20px;
	display: inline;
}

#footer ul li a 
{
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	color: #999;
}

#footer ul li a:hover
{
	color: #000;
}
/**
 * TABLE LISTING
 */
 table.listing 
 {
 	margin-top: 30px;
 	border-collapse: collapse;
 	width: 100%;
 }
 
 table.listing tr
 {
 	border-bottom: 1px solid #f7f7f7;
 }

 table.listing td, table.listing th 
 {
 	padding: 5px;
 	border-collapse: collapse;
 	vertical-align: middle;
 }

 table.listing td
 {
 	color: #999;
 }

 table.listing td.thumb
 {
 	text-align: center;
 	width: 60px;
 }

 table.listing td form
 {
 	display: inline;
 }

/**
 * APPLICATION
 */
.app-card
{
	border: 1px solid #eee;
	height: 148px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	word-wrap: break-word;
}

.app-card a, 
.app-card a:hover 
{
	color:#000;
	text-decoration: none;
}

h5.app-title
{
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 3px;
}

.app-card .api 
{
	margin-top: 2px;
	display: block;
}
.app-card code 
{
	color: green;
}

.app-card-edit
{
	background-image: url('../images/edit.png');
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer !important;
	z-index: 999;
	display: none;
}

.app-card:hover .app-card-edit
{
	display: block;
}

/********************
 * APPLICATION MENU *
 ********************/
#sidr .sidr-inner 
{
	padding: 10px;
}

#sidr img 
{
	width: 32px !important;
	height: 32px !important;
}

.sidr ul 
{
	border: none;
	margin-bottom: 20px;
}

#sidr-id-menu-app-info
{
	margin-bottom: 60px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
}

#sidr-id-menu-app-info a,
#sidr-id-menu-app-info a:hover
{
	color:#FFF;
	text-decoration: none;
}

#sidr-id-menu-app-info a img 
{
	margin-right: 10px;
}

.sidr ul li,.sidr ul li.sidr-class-active,.sidr ul li:hover 
{
	line-height: 35px;
	font-size: 14px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #1a1a1a;
	text-transform: capitalize;
}

.sidr ul li.sidr-class-menu-app-seperator,
.sidr ul li.sidr-class-menu-app-seperator:hover
{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	border-top: none;
	box-shadow: none;
}

/*********************
 * DEVELOPER CONSOLE *
 *********************/

 div.url-prefix
 {
 	line-height: 34px;
 	text-align: right;
 }

 div#response
 {
 	width: 100%;
 	height: 500px;
 	background-color:#f2f2f2;
 	border: 1px solid #ccc;
 	margin-top: 30px;
 	font-size: 10px;
 	font-weight: 300;
 	padding: 10px;
 	overflow: auto;
 }

  div#response.with-loader 
  {
  	background-image: url('../images/loader-xs.gif');
	background-repeat: no-repeat;
	background-position: center center;
  }

 div#post-params
 {
 	margin-top: 20px;
 	border-top: 1px solid #f7f7f7;
 	padding-top: 10px;
 	display: none;
 }

 div#post-params input.form-control 
 {	
 	height: 20px;
 	line-height: 20px;
 	font-size: 11px;
 	padding: 10px;
 	text-transform: lowercase;
 }

 a.remove-row
 {
 	display: block;
 	width: 16px;
 	height: 16px;
 	margin-top: 2px;
 	background-image: url('../images/delete.png');
	background-repeat: no-repeat;
 }

 div.params-container
 {
 	margin-bottom: 10px;
 }


/************
 * API DOCS *
 ************/

span.hljs-request .hljs-string 
{
	color: #7f9f7f;
	font-weight: 400;
}
	
.api-docs , .sidebar-nav
{
	margin-top: 20px;
}

.sidebar-nav ul li:hover a 
{
	background-color: transparent;
}

.sidebar-nav .navbar li a {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: 13px;
	border-left: 2px solid #EEE;
	color: #CCC;
}


.sidebar-nav .navbar li.active a,
.sidebar-nav .navbar li a:hover
{
	font-weight: 400;
	color: #000;
	border-left: 2px solid #000;
}


.navbar.affix {
	position: fixed;
	top: 20px;
}

.section 
{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	margin-bottom: 50px;
}

.section strong 
{
	font-weight: 600;
}

.section h3 
{
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	color:#428bca;
}

.section h5 
{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0;
	margin: 0;
}

.section code.tip 
{
	color:green;
}

.section pre
{
	font-size: 11px;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
	white-space: pre !important;
	border-radius: 0;
	margin-top: 10px;
	min-height: 26px;
}

.section td.status-code
{
	font-weight: 600;
	font-size: 13px;
	color:#666;
}